@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

.button {
  font-family: 'Roboto', sans-serif;
  width: 55px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid #000;
  border-radius: 9px;
  cursor: pointer;
}

.row {
  margin: 8px 0;
}

.row input {
  font-size: 18px;
  margin: 0;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 5px;
}
